*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


@font-face {
    font-family: 'Lora', serif;
    src: url ('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
    font-weight: 400;
}


@font-face {
    font-family:  'Lora', serif;
    src: url ('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
    font-weight: 500;
}

@media screen and (max-width: 993px) {
    :root{
        font-size: 1.15vw;
    }
}

@media screen and (max-width: 769px) {
    :root{
        font-size: 1.75vw;
    }
}

@media screen and (max-width: 577px) {
    :root{
        font-size: 2vw;
    }
}

body{
    font-family: 'Lora', serif;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

a{
    color: inherit;
    text-decoration: none;
}


/********* BOOTSTRAP *********/

.container-fluid{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.row{
    margin-left: calc(-1.25rem / 2);
    margin-right: calc(-1.25rem / 2);
}

[class*='col-']{
    padding-left: calc(1.25rem / 2);
    padding-right: calc(1.25rem / 2);
}

/********* HEADER *********/

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background: linear-gradient(180deg, rgba(186,125,255,1) 0%, rgba(255,255,255,0) 95%);
}

header .logo{
    height: 2rem;
    width: auto;
    display: block;
}

header .logo img{
    height: 3rem;
    width: auto;
}

header nav ul {
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
}

header nav ul li {
    margin-left: 2rem;
}

.burger{
    display: none;
}


nav ul li a{
    color: black;
}

nav ul li.active{
    color: white;
}

nav ul li a:hover{
    color: white;
}

@media screen and (max-width: 768px) {
    nav{
        position: fixed;
        top: 6rem;
        left: -100%;
        width: 100%;
        height: calc(100vh - 6rem);
        height: calc(var(--vh, 1vh) * 100 - 6rem);
        background-color: white;
        transition: top .80s ease;
    }

    nav.active{
        left: 0;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        margin-top: 20rem;
    }

    nav ul li {
        font-size: 4rem;
        margin-left: 0;
        margin-bottom: 1.5rem;
    }

    .burger{
        position: relative;
        display: block;
        height: auto;
        width: 2rem;
        margin-top: 1.25 rem;
    }
    
    .burger div{
        position: absolute;
        width: 100%;
        height: 2px;

    }

    .project .card-title {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }

    .project .details {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .project .card-info {
        display: flex;
        justify-content: space-between;
        margin-top: 7rem;

    }

    .project .descritive {
        margin-top: 3rem;
        margin-bottom: 7rem;
    }

    nav ul li a{
        color: black;
    }

    nav ul li.active{
        color: black;
    }
    
    nav ul li a:hover{
        color: black;
    }

}



/********* MAIN *********/

main {
    margin-top: 6rem;
    min-height: calc(100vh - 7rem);
    min-height:calc(var(--vh, 1vh) * 100 - 7rem);
}

.quote {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.2;
}

.bio {
    line-height: 1.2;
    padding-bottom: 5rem;
}

.contacts {
    line-height: 1.2;
}


/********* HOME *********/

.home main {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.25rem;
}

/********* Main * Home *********/

.project .project-slider-image{
    width: 100%;
    height: calc(100vh);
    height: calc(var(--vh, 1vh) * 100);

    background-image: url('../img/book-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/********* MAIN + WORK *********/

.work main{
    margin-top: 33.333vh;
}

.card{
    margin-bottom: 6rem;
}

.card-info{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.work .card-title{
    text-transform: uppercase;
    
}

.card:hover{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    
}

.card-title:hover{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    
}


.card-image{
    width: 100%;
    padding-bottom: 66.66%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    filter: grayscale(1);
    
}

.work .card:hover .card-image{
    filter: grayscale(0);
    transition: filter .5 ease;
    
}


/********* WORK *********/

.project main{
    margin-top: 33.333vh;
    height: calc(100) ;
    height: calc(var(--vh, 1vh) * 100);
}


.project .info {
    display: flex;
    justify-content: space-between;
}

.project .descritive {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 5rem;
}

.project .card {
    margin-bottom: 5rem;
}

.project .details {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.1;
}

.project .card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.2;
}


.project .card-title {
    font-size: 3rem;
    line-height: 1.1;
    font-family: 'Lora', serif;;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}


.project .project-image {
    width: 80%;
    padding-bottom: 5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; margin-left: auto;
    margin-right: auto;
}

.project .project-image img{
    width: 100%;
    height: auto;
    display: block;
   
}

.project .project-image-slider {
    width: 80%;
    padding-bottom: 5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 
}

.project .project-image-slider img{
    width: 100%;
    height: auto;
    display: block;
}


